<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Present-Shitwish-POOP</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="custom.css">
</head>
<body>
<div class="container">
    <h1 class="display-3 mt-5">Present API by POOP</h1>
    <h2 class="mt-5 mb-3 text-primary">Usage</h2>
    <table class="body-content">
        <tr class="row">
            <td class="column-title"><h5>Add a new present</h5></td>
        </tr>
        <tr class="row">
            <td class="column-method"><span class="post method pr-2 mr-1">POST</span></td>
            <td class="column"><p class="example">https://present-wishlist-poop.herokuapp.com/present</p></td>
        </tr>
        <tr class="row">
            <td class="column-title"><h5>Modify a present</h5></td>
        </tr>
        <tr class="row">
            <td class="column-method"><span class="put method pr-2 mr-1">PUT</span></td>
            <td class="column"><p class="example">https://present-wishlist-poop.herokuapp.com/present/{id}</p></td>
        </tr>
        <tr class="row">
            <td class="column-title"><h5>Delete a present</h5></td>
        </tr>
        <tr class="row">
            <td class="column-method"><span class="delete method pr-2 mr-1">DELETE</span></td>
            <td class="column"><p class="example">https://present-wishlist-poop.herokuapp.com/present/{id}</p></td>
        </tr>
        <tr class="row">
            <td class="column-title"><h5>Get all presents</h5></td>
        </tr>
        <tr class="row">
            <td class="column-method"><span class="get method pr-2 mr-1">GET</span></td>
            <td class="column"><p class="example">https://present-wishlist-poop.herokuapp.com/present</p></td>
        </tr>
        <tr class="row">
            <td class="column-title"><h5>Get present by present id</h5></td>
        </tr>
        <tr class="row">
            <td class="column-method"><span class="get method pr-2 mr-1">GET</span></td>
            <td class="column"><p class="example">https://present-wishlist-poop.herokuapp.com/present/{id}</p></td>
        </tr>
        <tr class="row">
            <td class="column-title"><h5>Get all presents by user id</h5></td>
        </tr>
        <tr class="row">
            <td class="column-method"><span class="get method pr-2 mr-1">GET</span></td>
            <td class="column"><p class="example">https://present-wishlist-poop.herokuapp.com/present/user/{id}</p></td>
        </tr>
    </table>
</div>
</body>
</html>